[Unit]
Description=NOIA Node

[Service]
# If script not installed globally, change next line.
ExecStart=/usr/bin/noia-node-cli
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
# Change working directory.
WorkingDirectory=/path/to/noia-node

[Install]
WantedBy=multi-user.target

