[Unit]
Description=NOIA Node

[Service]
# If script is installed locally, set its location.
ExecStart=/usr/bin/noia-node-cli
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
# Set working directory.
WorkingDirectory=/path/to/noia-node
# Set NOIA data location.
Environment=NOIA_NODE_USER_DATA_PATH=/path/to/noia-node-data

[Install]
WantedBy=multi-user.target

